@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Roboto:wght@400;700&display=swap");
$font-lato: "Lato",
sans-serif;
$font-roboto: "Roboto",
sans-serif;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

a {
    text-decoration: none;
    color: #000;
    &:visited,
    &:active {
        color: #000;
    }
}

.wrapper {
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: row;
}

.side-menu {
    height: 100vh;
    width: 180px;
    background-color: #fff;
    padding: 20px 10px;
    &-title {
        font-family: $font-lato;
        font-weight: 900;
        font-size: 20px;
        color: #2f80ed;
        margin-bottom: 34px;
    }
    ul {
        list-style: none;
        .menu {
            width: 100%;
            .drowpdown-menu {
                display: inline-flex;
                align-items: center;
                width: 100%;
                height: 30px;
                font-family: $font-lato;
                font-size: 12px;
                font-weight: 900;
                cursor: pointer;
                user-select: none;
                padding-left: 8px;
                padding-right: 8px;
                border-radius: 5px;
                & p {
                    margin-left: 10px;
                    margin-right: auto;
                }
            }
            & .submenu {
                display: none;
                padding-top: 10px;
                padding-left: 40px;
                font-family: $font-lato;
                font-size: 12px;
                font-weight: 400;
                & li:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
            input {
                display: none;
                &:checked {
                    & + label {
                        background-color: #152766;
                        color: #fff;
                        & svg {
                            color: #fff;
                        }
                        & .icon.-arrow {
                            transition: ease-in 200ms;
                            transform: rotate(180deg);
                        }
                    }
                    & ~ .submenu {
                        display: block;
                    }
                }
            }
        }
    }
}
.detail {
    height: 100vh;
    width: 100%;
    & .navigation {
        height: 50px;
        width: 100%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 20px;
        & .navbar-title {
            display: flex;
            align-items: center;
            & .icon {
                height: 13px;
                width: 12px;
                display: inline-block;
            }
            & p {
                font-family: $font-lato;
                font-weight: 700;
                font-size: 12px;
                color: #152766;
                margin-left: 7px;
            }
        }
        & .navbar-search {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-40%);
                height: 17px;
                width: 17px;
                display: inline-block;
                background-image: url(../img/search.png);
                background-repeat: no-repeat;
            }
            & input {
                width: 250px;
                height: 20px;
                padding: 5px 20px;
                border: none;
                border-bottom: 1px solid #8495d1;
                outline: none;
                &::placeholder {
                    font-family: $font-lato;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
        & .navbar-notification {
            display: flex;
            align-items: center;
            position: relative;
            & .new{
                display: flex;
                flex-direction: column;
                margin-right: 30px;
            }
            & .new-menu-dropdown{
                list-style: none;
                display: none;
                position: absolute;
                top: 30px;
                background-color: #fff;
                padding: 10px;
                & li{
                    margin-bottom: 10px;
                    cursor: pointer;
                }
            }
            & .new-menu-btn{
                display: none;
                &:checked ~ .new-menu-dropdown{
                    display: block;
                }
            }   
            & .new-menu-content {
                font-family: $font-lato;
                font-weight: 700;
                font-size: 12px;
                color: #fff;
                background-color: #2f80ed;
                height: 25px;
                width: 54px;
                padding: 5px 8px;
                border-radius: 5px;
                text-decoration: none;
                margin-right: 16px;
                display: flex;
                align-items: center;
                cursor: pointer;
                & .nav-arrow {
                    display: inline-block;
                    height: 4px;
                    width: 7px;
                    background-image: url(../img/arrow-down.svg);
                    background-repeat: no-repeat;
                    margin-left: 4px;
                    margin-top: 2px;
                }
            }
            & .nav-notification {
                position: relative;
                display: inline-block;
                height: 13px;
                width: 13px;
                align-items: center;
                background-repeat: no-repeat;
                background-image: url(../img/notification.svg);
                margin-right: 16px;
                &[data-has-notification="true"] {
                    &:after {
                        display: block;
                        position: absolute;
                        top: 1px;
                        right: 1px;
                        content: "";
                        height: 5px;
                        width: 5px;
                        border-radius: 50%;
                        background-color: #e83882;
                    }
                }
            }
            & p {
                font-family: $font-lato;
                font-weight: 700;
                font-size: 12px;
                color: #152766;
            }
        }
    }
    }
